:root {
    --color-primary-pale-blue: hsl(225, 100%, 94%);
    --color-primary-bright-blue: hsl(245, 75%, 52%);
    --color-neutral-very-pale-blue: hsl(225, 100%, 98%);
    --color-neutral-desaturated-blue: hsl(224, 23%, 55%);
    --color-transparent-desaturated-blue: rgba(114, 128, 167, 0.4);
    --color-neutral-dark-blue: hsl(223, 47%, 23%);
    --color-attribution-blue: hsl(228, 45%, 44%);
    --main-font: 'Red Hat Display', sans-serif;
}

* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--color-neutral-desaturated-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}

footer {
    position: fixed;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 0.5em;
}

.attribution a {
    color: var(--color-attribution-blue);
}

/* --- summary box --- */

.summary {
    flex: 1;
    background-color: white;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 50px var(--color-transparent-desaturated-blue);
    border-radius: 20px;
    overflow: hidden;
    line-height: 1.5;
}

.summary-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    gap: 1.5em;
}

.card-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    display: flex;
}

.card-image img {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.card-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    background-color: var(--color-neutral-very-pale-blue);
    padding: 1em;
    width: 100%;
    border-radius: 10px;
}

.plan-items {
    flex: 1;
    display: flex;
    gap: 1em;
    align-items: center;
}

/* --- text and buttons styling --- */

p {
    padding: 0;
    margin: 0;
    text-align: center;
}

span.plan {
    font-weight: 900;
    color: var(--color-neutral-dark-blue);
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 1.7em;
    color: var(--color-neutral-dark-blue);
}

button {
    color: inherit;
    font: inherit;
    cursor: pointer;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    border: none;
    letter-spacing: 0.05em;
}

button.proceed {
    background-color: var(--color-primary-bright-blue);
    color: white;
    box-shadow: 0px 10px 20px var(--color-transparent-desaturated-blue);
}

button.cancel {
    color: var(--color-neutral-dark-blue);
    opacity: 0.8;
    background: none;
}

a,
button {
    font-size: 0.9em;
    font-weight: 700;
    transition: opacity 0.4s;
}

a.body-link {
    color: var(--color-primary-bright-blue);
}

button.proceed:hover,
a.body-link:hover {
    opacity: 0.8;
}

button.cancel:hover {
    opacity: 1;
}

/* --- mobile resizing --- */

@media screen and (min-width: 480px) {
    body {
        background: url("images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100vw;
        background-color: var(--color-primary-pale-blue);
    }
}

@media screen and (max-width: 480px) {
    body {
        background: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100vw;
        background-color: var(--color-primary-pale-blue);
        font-size: 0.8rem;
    }

    .summary-container {
        padding: 3em 1em;
    }
}